## Máster en Big Data y Data Science

### Metodologías de gestión y diseño de proyectos de big data

#### AP1 - Limpieza de los datos

---

En esta libreta se realiza una evaluación básica de calidad de los datos del escenario y se ejecutan acciones de limpieza.

In [1]:
# Se importan las librerías necesarias y se suprimen las advertencias
import pandas as pd
import numpy as np
import warnings

warnings.filterwarnings('ignore',category=FutureWarning)
warnings.filterwarnings('ignore',category=UserWarning)

Lectura del mismo dataset inicial

In [2]:
# Lectura de los datos
df = pd.read_csv('../data/raw/bank-additional-full.csv', sep=';')
df.head(5)

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

Se realizan algunas operaciones de limpieza

In [4]:
df_original = df.copy()

In [5]:
# Se ajustan los nombres de las columnas para que no contengan puntos
df.columns = df.columns.str.replace(".", "_")
df.columns

Index(['age', 'job', 'marital', 'education', 'default', 'housing', 'loan',
       'contact', 'month', 'day_of_week', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'emp_var_rate', 'cons_price_idx',
       'cons_conf_idx', 'euribor3m', 'nr_employed', 'y'],
      dtype='object')

In [6]:
# Transformar los valores 'unknown' en NaN
df.replace('unknown', np.nan, inplace=True)
df.head(5)

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,NaN,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [7]:
# Se verifica la cantidad de valores nulos en cada columna
for col in df.columns:
   print(f"Atributo: {col} - Valores nulos: {df[col].isna().sum()} ({df[col].isna().sum()/len(df)*100:.2f}%)")

Atributo: age - Valores nulos: 0 (0.00%)
Atributo: job - Valores nulos: 330 (0.80%)
Atributo: marital - Valores nulos: 80 (0.19%)
Atributo: education - Valores nulos: 1731 (4.20%)
Atributo: default - Valores nulos: 8597 (20.87%)
Atributo: housing - Valores nulos: 990 (2.40%)
Atributo: loan - Valores nulos: 990 (2.40%)
Atributo: contact - Valores nulos: 0 (0.00%)
Atributo: month - Valores nulos: 0 (0.00%)
Atributo: day_of_week - Valores nulos: 0 (0.00%)
Atributo: duration - Valores nulos: 0 (0.00%)
Atributo: campaign - Valores nulos: 0 (0.00%)
Atributo: pdays - Valores nulos: 0 (0.00%)
Atributo: previous - Valores nulos: 0 (0.00%)
Atributo: poutcome - Valores nulos: 0 (0.00%)
Atributo: emp_var_rate - Valores nulos: 0 (0.00%)
Atributo: cons_price_idx - Valores nulos: 0 (0.00%)
Atributo: cons_conf_idx - Valores nulos: 0 (0.00%)
Atributo: euribor3m - Valores nulos: 0 (0.00%)
Atributo: nr_employed - Valores nulos: 0 (0.00%)
Atributo: y - Valores nulos: 0 (0.00%)

In [7]:
# Se observa la distribución de la columna "default" ya que tiene muchos valores desconocidos (nulos)
df["default"].value_counts(normalize=True)*100

default
no     99.990795
yes     0.009205
Name: proportion, dtype: float64

In [8]:
# Por la poca variedad en los datos y gran cantidad de nulos (20%), se elimina la columna "default"
df.drop(columns=["default"], inplace=True)
df.head(5)

,age,job,marital,education,housing,loan,contact,month,day_of_week,duration,campaign,pdays,previous,poutcome,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed,y
0,56,housemaid,married,basic.4y,no,no,telephone,may,mon,261,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,no,no,telephone,may,mon,149,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,yes,no,telephone,may,mon,226,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,telephone,may,mon,151,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,yes,telephone,may,mon,307,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [9]:
# Se hace un filtro para eliminar las filas que tienen valores nulos
df.dropna(inplace=True)

In [ ]:
# Se hace un filtro para eliminar las filas duplicadas
duplicados = df.duplicated().sum()
print(f"Registros duplicados: {duplicados}")
df = df.drop_duplicates()

In [10]:
# Se imprimen las dimensiones del DataFrame
print(f'El dataset tiene {df.shape[0]} filas y {df.shape[1]} columnas.')
print(f'El dataset original tenía {df_original.shape[0]} filas y {df_original.shape[1]} columnas.')
print(f'Se han eliminado {df_original.shape[0] - df.shape[0]} filas y {df_original.shape[1] - df.shape[1]} columnas.')

El dataset tiene 38245 filas y 20 columnas.
El dataset original tenía 41188 filas y 21 columnas.
Se han eliminado 2943 filas y 1 columnas.

In [11]:
# Exportar el DataFrame limpio a un nuevo archivo CSV
df.to_csv('../data/processed/bank-additional-cleaned.csv', index=False)